

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-552998475072013253.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-552998475072013253.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-552998475072013253.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-552998475072013253.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-552998475072013253.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-552998475072013253.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-552998475072013253.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-552998475072013253.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-552998475072013253.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-552998475072013253.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-552998475072013253.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-552998475072013253.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-552998475072013253.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-552998475072013253.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-552998475072013253.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-552998475072013253.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-552998475072013253.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-552998475072013253.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-552998475072013253.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-552998475072013253.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-552998475072013253.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-552998475072013253.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-552998475072013253.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-552998475072013253.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-552998475072013253.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-552998475072013253.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-552998475072013253.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-552998475072013253.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-552998475072013253.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-552998475072013253.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-552998475072013253.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-552998475072013253.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-552998475072013253.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-552998475072013253.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-552998475072013253.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-552998475072013253.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-552998475072013253.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-552998475072013253.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-552998475072013253.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-552998475072013253.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-552998475072013253.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-552998475072013253.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-552998475072013253.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-552998475072013253.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-552998475072013253.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-552998475072013253.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-552998475072013253.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-552998475072013253.gps.gpsil [style*="--op-tablet:"]{opacity:var(--op-tablet)}.gps-552998475072013253.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-552998475072013253.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-552998475072013253.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-552998475072013253.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-552998475072013253.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-552998475072013253.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-552998475072013253.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-552998475072013253.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-552998475072013253.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-552998475072013253.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-552998475072013253.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-552998475072013253.gps.gpsil [style*="--op-mobile:"]{opacity:var(--op-mobile)}.gps-552998475072013253.gps.gpsil [style*="--o-mobile:"]{order:var(--o-mobile)}.gps-552998475072013253.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-552998475072013253.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-552998475072013253.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-552998475072013253.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-552998475072013253.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-552998475072013253.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-552998475072013253 .gp-relative{position:relative}.gps-552998475072013253 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-552998475072013253 .gp-mb-0{margin-bottom:0}.gps-552998475072013253 .gp-flex{display:flex}.gps-552998475072013253 .gp-grid{display:grid}.gps-552998475072013253 .gp-contents{display:contents}.gps-552998475072013253 .\!gp-hidden{display:none!important}.gps-552998475072013253 .gp-hidden{display:none}.gps-552998475072013253 .gp-h-full{height:100%}.gps-552998475072013253 .gp-w-full{width:100%}.gps-552998475072013253 .gp-max-w-full{max-width:100%}.gps-552998475072013253 .gp-flex-col{flex-direction:column}.gps-552998475072013253 .gp-gap-y-0{row-gap:0}.gps-552998475072013253 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-552998475072013253 .gp-duration-200{transition-duration:.2s}.gps-552998475072013253 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-552998475072013253 .tablet\:\!gp-hidden{display:none!important}.gps-552998475072013253 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-552998475072013253 .mobile\:\!gp-hidden{display:none!important}.gps-552998475072013253 .mobile\:gp-hidden{display:none}}.gps-552998475072013253 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-552998475072013253 .\[\&_p\]\:gp-inline p{display:inline}.gps-552998475072013253 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-552998475072013253 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      enableLazyloadImage="true" id="gmvmsz5c0V" data-id="gmvmsz5c0V"
        style="--blockPadding:base;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pt:100px;--pl:20px;--pb:100px;--pr:20px;--pt-mobile:70px;--pl-mobile:20px;--pb-mobile:70px;--pr-mobile:20px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gmvmsz5c0V gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gZ9btM-TI_ gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gbhLEiUnUJ" data-id="gbhLEiUnUJ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:48px;--mb-mobile:42px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gbhLEiUnUJ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:1"
      class="g7MiS3WjK4 gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gNbIyFXQh4" data-id="gNbIyFXQh4"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:0px;--pr:32px;--mt-mobile:28px;--mb-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:0px;--pr-tablet:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNbIyFXQh4 gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gLHvQ0Pmo2 gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gEWiU4mdjk">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gEWiU4mdjk "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb:24px;--mr:0px;--pr:0px;--mt-mobile:0px;--mb-mobile:21px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:553px;--w-tablet:553px;--w-mobile:553px;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:33px;--size-tablet:33px;--size-mobile:29px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#000000;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggEWiU4mdjk_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gSOYISZrCx">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gSOYISZrCx "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mb-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:553px;--w-tablet:553px;--w-mobile:553px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggSOYISZrCx_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gSOYISZrCx">
        .gSOYISZrCx {

}
.gSOYISZrCx p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o-mobile:0"
      class="gk_MG8KW4j gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gBJqbusRSR"
    role="presentation"
    class="gp-group/image gBJqbusRSR"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_519094460584297649-e41714db-1c9d-4f80-987e-b97df534b397_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNTA5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzU1LTE1MDkiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3NTUiIGhlaWdodD0iMTUwOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNTA5IiBmaWxsPSJ1cmwoI2ctMTc1NS0xNTA5KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc1NSIgdG89IjE3NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_519094460584297649-e41714db-1c9d-4f80-987e-b97df534b397_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNTA5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzU1LTE1MDkiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3NTUiIGhlaWdodD0iMTUwOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNTA5IiBmaWxsPSJ1cmwoI2ctMTc1NS0xNTA5KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc1NSIgdG89IjE3NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNTA5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzU1LTE1MDkiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3NTUiIGhlaWdodD0iMTUwOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNTA5IiBmaWxsPSJ1cmwoI2ctMTc1NS0xNTA5KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc1NSIgdG89IjE3NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_519094460584297649-e41714db-1c9d-4f80-987e-b97df534b397.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-gBJqbusRSR">
        .gBJqbusRSR {

}
.gBJqbusRSR > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gvjU7dptZZ" data-id="gvjU7dptZZ"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--cg:30px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gvjU7dptZZ gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o:1;--o-mobile:1"
      class="gYgsu1XeJD gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      enableLazyloadImage="true" parentTag="Col" id="gDbne4v7rP" data-id="gDbne4v7rP"
        style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--op-mobile:100%;--op-tablet:100%;--pl:32px;--mt-mobile:28px;--pl-mobile:0px;--pl-tablet:0px;--cg:8px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gDbne4v7rP gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gPIoO5aJxC gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gQFl9jksWc">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gQFl9jksWc "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--op-tablet:100%;--mb:24px;--pl:0px;--mt-mobile:0px;--mb-mobile:21px;--pl-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:23px;--size-tablet:23px;--size-mobile:20px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggQFl9jksWc_text | replace: '$locationOrigin', locationOrigin }}</h2>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gutJbhw7Oh">
    <div
      enableLazyloadImage="true" parentTag="Col"
        class="gutJbhw7Oh "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--pl:0px;--mb-mobile:0px;--pl-mobile:0px;--pb-mobile:0px"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:553px;--w-tablet:553px;--w-mobile:553px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--c:#242424;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden"
        >{{ section.settings.ggutJbhw7Oh_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
      <style id="custom-css-gutJbhw7Oh">
        .gutJbhw7Oh {

}
.gutJbhw7Oh p {

}
      </style>
    
    </div>
    </div>
   
    
    </div><div
      enableLazyloadImage="true" label="Block" tag="Col" type="component"
      style="--jc:center;--o:0;--o-mobile:0"
      class="gZxNAGHsFA gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="glYTnEYpmr"
    role="presentation"
    class="gp-group/image glYTnEYpmr"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--op-mobile:100%;--mt-mobile:0px;--pt-mobile:0px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:center"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_519094460584297649-320d659e-c6be-41bc-9ec6-a1a3fa6dd2ff_768x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNTA5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzU1LTE1MDkiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3NTUiIGhlaWdodD0iMTUwOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNTA5IiBmaWxsPSJ1cmwoI2ctMTc1NS0xNTA5KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc1NSIgdG89IjE3NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_519094460584297649-320d659e-c6be-41bc-9ec6-a1a3fa6dd2ff_1024x.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNTA5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzU1LTE1MDkiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3NTUiIGhlaWdodD0iMTUwOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNTA5IiBmaWxsPSJ1cmwoI2ctMTc1NS0xNTA5KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc1NSIgdG89IjE3NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNTA5IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNzU1LTE1MDkiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE3NTUiIGhlaWdodD0iMTUwOSIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTc1NSIgaGVpZ2h0PSIxNTA5IiBmaWxsPSJ1cmwoI2ctMTc1NS0xNTA5KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTc1NSIgdG89IjE3NTUiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4="
        data-src="{{ "gempages_519094460584297649-320d659e-c6be-41bc-9ec6-a1a3fa6dd2ff.png" | file_url }}"
        width="100%"
        alt=""
        style="--aspect:auto;--aspect-tablet:auto;--aspect-mobile:auto;--objf:cover;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
      <style id="custom-css-glYTnEYpmr">
        .glYTnEYpmr {

}
.glYTnEYpmr > figure > img {

}
      </style>
    
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-552998475072013253 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/soapyfluffs/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=519094461741991057&sectionId=552998475072013253)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggEWiU4mdjk_text","label":"ggEWiU4mdjk_text","default":"\"Simply life-changing skincare.\""},{"type":"html","id":"ggSOYISZrCx_text","label":"ggSOYISZrCx_text","default":"<p>Discover the secret to effortless skincare with our amazing cream. Designed to simplify your daily routine, this game-changing product delivers remarkable results with minimal effort.</p><p>&nbsp;</p><p>Say goodbye to complicated multi-step routines and hello to a streamlined approach that saves you time and energy. Our cream is packed with powerful ingredients that work harmoniously to nourish and rejuvenate your skin, leaving it looking and feeling its best. With just a few simple steps, you can achieve a radiant complexion that reflects your natural beauty. Experience the joy of effortless skincare and unlock a newfound confidence in your daily routine.</p><p>&nbsp;</p><p>Try our cream today and embrace the simplicity of beautiful skin.</p>"},{"type":"html","id":"ggQFl9jksWc_text","label":"ggQFl9jksWc_text","default":"...and the best part is, you'll confidently strut the streets with radiant and flawless skin"},{"type":"html","id":"ggutJbhw7Oh_text","label":"ggutJbhw7Oh_text","default":"<p>Imagine the empowering feeling of walking down the streets with a newfound confidence and a radiant glow. Our skin cream is here to make that dream a reality. With its powerful formulation, it works tirelessly to rejuvenate your skin, addressing concerns such as dryness, dullness, and uneven texture.</p><p>&nbsp;</p><p>As you incorporate this cream into your skincare routine, you'll witness a remarkable transformation that will have you beaming with self-assurance.</p><p>&nbsp;</p><p>Say goodbye to insecurities and hello to a complexion that turns heads wherever you go. Experience the joy of flawless skin and embrace the power of confidence. Try our skin cream today and step out into the world with a radiant stride.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
